@page
@model ShitForum.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
    </ol>
</nav>

<h2>Admin</h2>
@Model.Message
<div asp-validation-summary="All"></div>
<form method="post">
    <input name="key" placeholder="Key" />
    <input type="submit" />
</form>