@page
@model AnalyticsModel
@{
    ViewData["Title"] = "Analytics";
}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-page="Index">Home</a></li>
        <li class="is-active" aria-current="page">Analytics</li>
    </ul>
</nav>

<h2>Analytics</h2>

<hr />
<div class="columns">
    <div class="column"><h6>Hits - @(Model.Model.Hits.Count)</h6></div>
</div>
@foreach (var a in Model.Model.Hits)
{
    <div class="columns">
        <div class="col-4">@a.Name</div>
        <div class="col-4">@a.Hits</div>
        <div class="col-4">@a.UniqueHits</div>
    </div>
}
