@page
@model ShitForum.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
</nav>
   
<ul class="nav flex-column">
    @foreach (var board in Model.Boards)
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="Board" asp-route-id="@board.Id">@board.BoardName</a>
        </li>
    }
</ul>
