@page
@model ShitForum.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ol>
</nav>

<h2>Login</h2>

<div asp-validation-summary="All"></div>
<form method="post">
    <input name="key" placeholder="Key" />
    <input class="btn btn-primary" type="submit" />
</form>
