@page
@model ShitForum.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<nav class="breadcrumb" aria-label="breadcrumb">
    <ul>
        <li><a asp-page="Index">Home</a></li>
        <li class="is-active" aria-current="page">Login</li>
    </ul>
</nav>

<h2>Login</h2>

<div asp-validation-summary="All"></div>
<form method="post">
    <div class="form-group">Key: <input class="form-control" name="key" /></div>
        <input class="btn btn-primary" type="submit" />
</form>
