[Unit]
Description=Example .NET Web API App running on Ubuntu

[Service]
WorkingDirectory=/home/Forum/ShitForum
ExecStart=/usr/bin/dotnet /home/Forum/ShitForum/ShitForum.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
SyslogIdentifier=dotnet-example
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
