@model Services.Dtos.PostOverView

<article class="media">
@if (Model.File.HasValue)
{
    <a asp-controller="Images" asp-action="GetPostImage" asp-route-postId="@Model.Id">
        <figure class="media-left">
            <p class="image is-128x128">
                <img src="@Url.Action("GetPostThumbnail", "Images", new {postId = Model.Id})"/>
            </p>
        </figure>
    </a>
}
    <div class="media-content">
        <div class="content">
            <p class="post-comment">@Model.Comment</p>
        </div>
    </div>
</article>
